body {
  background-color: #EDEDED;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(50px, max-content));
  grid-gap: 20px;
}

#header {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  height: 40px;
  width: 100%;
}

#header-img {
  width: 350px;
  margin-left: 40px;
}

#nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#nav-bar a {
  justify-self: center;
  align-self: center;
}

#container {
  grid-row: 2;
  display: grid;
  grid-template-columns: 800px;
  grid-template-rows: repeat(5, 1fr);
  justify-self: center;
}

#email {
  grid-area: 1;
}

#form {
  text-align: center;
}

#description {
  grid-area: 2;
  background-color: aqua;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.fa-crown {
  grid-row: 1;
}

.fa-truck {
  grid-row: 2;
}

.fa-battery-full {
  grid-row: 3;
}

#video {
  grid-area: 3;
  background-color: brown;
}

#product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

footer {
  grid-row: 5;
  background-color: black;
  width: 800px;
  justify-self: center;
}
